[submodule "lib/atlantis"]
	path = lib/atlantis
	url = https://github.com/ooyala/atlantis
[submodule "lib/atlantis-builder"]
	path = lib/atlantis-builder
	url = https://github.com/ooyala/atlantis-builder
