Package: __PACKAGE__
Version: __VERSION__
Section: base
Priority: Optional
Architecture: amd64
Depends: lxc-docker
Maintainer: appsplat-team@ooyala.com
Description: Atlantis Supervisor
 This is atlantis-supervisor.
